language: ruby
services: mongodb

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - ruby-head

gemfile:
  - Gemfile
  - gemfiles/mongoid_master.gemfile

branches:
  only:
    - master

matrix:
  allow_failures:
    - rvm: ruby-head
