language: ruby
services: mongodb

before_install:
  - gem install bundler

rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0

gemfile:
  - Gemfile
  - gemfiles/Mongoid_4.gemfile
  - gemfiles/Mongoid_5.gemfile
