name: Build
on: [push, pull_request]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7']
        mongoid: ['6']
        mongodb: ['4.4', '5.0']

    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / Mongo ${{ matrix.mongodb }} / Mongoid ${{ matrix.mongoid }}

    steps:
    - uses: actions/checkout@v3
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.7.0
      with:
        mongodb-version: ${{ matrix.mongodb }}

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install gems
      env:
        MATRIX_MONGOID_VERSION: ${{ matrix.mongoid }}
      run: |
        export BUNDLE_GEMFILE="${GITHUB_WORKSPACE}/gemfiles/Mongoid_${MATRIX_MONGOID_VERSION}.gemfile"
        bundle install --jobs 4 --retry 3

    - run: bundle exec rspec
